fastapi
pydantic
uvicorn
pandas
numpy
google-generativeai
python-dotenv
langchain
langchain-core
langchain-google-genai
langgraph
pyarrow
fastparquet
python-multipart
timeout-decorator
pytest
scikit-learn
tabulate
scikit-learn
openpyxl
